$angular-gradient-start: #dd0330;
$angular-gradient-middle: #e91e63;
$angular-gradient-end: #8e24aa;

$text-color: #fff;
$text-purple: #8e24aa;
$background-color: #121212;
$card-background: #1e1e1e;
$card-border: #333;
$font-family: 'Roboto', sans-serif;
