<nav class="bg-gray-900 text-white px-6 py-4 flex items-center justify-between shadow-md">
  <div class="flex items-center gap-3">
    <img src="/assets/images/logo-ecommerce.png" style="width: 300px" alt="Logo" />
  </div>
  <div class="flex items-center gap-4">
    <a routerLink="/" class="hover:text-pink-400 transition">Home</a>
    <a routerLink="/products" class="hover:text-pink-400 transition">Produtos</a>
    <a routerLink="/about" class="hover:text-pink-400 transition">Sobre</a>
  </div>
</nav>
